.nested-title {
  font-size: 20px;
  cursor: pointer;
  width: 100px;
  background: #F5F5F5;
  margin: 5px;
  padding: 4px;
  border-radius: 2px;
}

.insert::after {
  display: flex;
  flex-direction: column;
  content: " - Insert as child";
  font-size: 15px;
}

#master-list {
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); transform-origin: 60% 50%;}
  100% {  transform: rotate(359deg);  transform-origin: 60% 50%;}
}

.loading-logo {
  animation: spin 1.5s linear infinite;
  height: 50px;
  width: 50px;
  margin: 20px;
}